html
{
    margin: 0 auto;
    width: 95%;
}
a
{
    font-size: 200%;
}
.container
{
    padding: 20px;
}
.cart-link
{
    width: 100%;
    text-align: right;
    display: block;
    font-size: 22px;
}
input[type="number"]
{
    width: 20%;
}